@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Parsed rows</h2>
        <blockquote>
            <p>
                ! Implement a table here that shows all the rows. It's up to you to build a nice user experience but a suggestion is that it's very nice for the user to see which new rows that was saved etc etc.
            </p>
        </blockquote>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Add more rows</h2>

        <blockquote>
            <p>
                Implement pasteing and parsing the text from the bank (or file) here. It's your choice if you prefer to save with ajax or a post. Consider what happends if the parser crashes when parsing the data or can't automatically understand columns.
            </p>
        </blockquote>
    </div>
</div>